<div>

</div>

<div class="p-d-flex p-flex-column">
    
    

    <div class="p-mb-2"><p>Latitude:</p><input type="text" pInputText [(ngModel)]="latitude"/></div>
    <div class="p-mb-2"><p>Longitude:</p><input type="text" pInputText [(ngModel)]="longitude"/></div>
    <div class="p-mb-2"><p>Population:</p><input type="text" pInputText [(ngModel)]="population"/></div>
    
    <button pButton pRipple type="button" label="Area Generator" class="p-button-rounded p-button-danger" (click)="setFields()"></button>
</div>